langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-core
chromadb
pypdf
python-dotenv
sentence-transformers
einops
langdetect
requests
pymupdf4llm
tqdm
streamlit